<section class="callback container" id="callback">
  <img src="./images/callback-img.jpg" alt="human work in office" />

  <form class="callback-form">
    <h2 class="callback-title">Request Callback</h2>

    <label class="form-label"
      ><span class="label-name">Name</span>
      <input
        id="name"
        placeholder="Enter your name"
        class="form-input"
        type="text"
        id="user-name"
        name="user-name"
      />
    </label>

    <label class="label-name" for="user-email">Email</label>
    <input
      id="email"
      required
      placeholder="Enter email*"
      class="form-input form-input-email"
      type="email"
      name="user-email"
      id="user-email"
    />

    <button class="btn-callback" onclick="sendEmail()">Send</button>
  </form>
  <script>
    function sendEmail() {
      var name = document.getElementById('name').value;
      var email = document.getElementById('email').value;
      console.log('hello');
      Email.send({
        Host: 'smtp.gmail.com',
        Username: 'grayreference@gmail.com', // Ваша адреса електронної пошти
        Password: 'Qwerty123qazwsx', // Пароль для доступу до поштового акаунту
        To: 'sergey_naftusya@ukr.net', // Адреса електронної пошти отримувача
        From: 'grayreference@gmail.com', // Ваша адреса електронної пошти
        Subject: "Запит з форми зворотнього зв'язку",
        Body: "Ім'я: " + name + '<br>Електронна адреса: ' + email,
      }).then(function (message) {
        alert('Повідомлення успішно відправлено.');
      });
    }
  </script>
</section>
