<section class="callback container" id="callback">
  <img src="./images/callback-img.jpg" alt="human work in office" />

  <form class="callback-form">
    <h2 class="callback-title">Request Callback</h2>

    <label class="form-label"
      ><span class="label-name">Name</span>
      <input
        id="name"
        placeholder="Enter your name"
        class="form-input"
        type="text"
        id="user-name"
        name="user-name"
      />
    </label>

    <label class="label-name" for="user-email">Email</label>
    <input
      id="email"
      required
      placeholder="Enter email*"
      class="form-input form-input-email"
      type="email"
      name="user-email"
      id="user-email"
    />

    <button class="btn-callback" onclick="sendEmail()">Send</button>
  </form>
  <script>
    function sendEmail() {
      event.preventDefault();
      var name = document.getElementById('name').value;
      var email = document.getElementById('email').value;

      Email.send({
        Host: 'smtp.ukr.net',
        Username: 'sergey_naftusya@ukr.net', // Ваша адреса електронної пошти
        Password: 'v81KlIctGzlM7txP', // Пароль для доступу до поштового акаунту
        To: 'grayreference@gmail.com', // Адреса електронної пошти отримувача
        From: 'sergey_naftusya@ukr.net', // Ваша адреса електронної пошти
        Subject: "Запит з форми зворотнього зв'язку",
        Body: "Ім'я: " + name + '<br>Електронна адреса: ' + email,
      }).then(function (message) {
        alert('Повідомлення успішно відправлено. TEST');
      });
      console.log('hello');
    }
  </script>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
</section>
